body,html {
    width: 100%;
    height: 100%;
    user-select: none;
}
body {
    background: url("/images/bg.jpg") repeat fixed;
    color: #fff;
    /* color: #b994cb; */
}
/* header */
.header {
    margin: 0px auto;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
}
.header .site-info,
.header .my-info {
    height: 100%;
}
.header .site-info {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.header .site-info .logo {
    width: 50px;
    height: 50px;
    background: #fff;
    flex-shrink: 0;
}
.header .site-info .desc {
    margin-left: 15px;
}
.header .my-info {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    position: relative;
}
.header .my-info .mini-avatar {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: url('/images/bg.jpg') no-repeat;
    border-radius: 50%;
    transition: 500ms;
}
.mini-avatar-actived {
    transform: translateX(-85px) rotate(-360deg);
}
.header .my-info .my-info-card {
    position: absolute;
    color: #000;
    background: #fff;
    width: 220px;
    height: 300px;
    right: 0;
    top: 80px;
    line-height: 1.3;
    transform-origin: center -5%;
    transform: scale(0) translateY(-100px);
    transition: 300ms;
    opacity: 0;
}
.header .my-info .my-info-card.my-info-card-actived {
    transform: scale(1) translateY(0px);
    opacity: 1;
}
.header .my-info .my-info-card .avatar {
    width: 150px;
    height: 150px;
    margin: 15px auto;
    background: cyan;
    border-radius: 50%;
}
.header .my-info .my-info-card .my-info-item {
    margin-left: 10px;
}
.header .my-info .my-info-card .my-name{
    margin: 0;
    text-align: center;
    margin-bottom: 5px;
}
.header .my-info .my-info-card .customize {
    text-align: right;
    margin-right: 10px;
}
.header .my-info .my-info-card .iconfont {
    font-size: 18px;
    margin-right: 10px;
}
.header .my-info .my-info-card .icon-email {
    color: #16c2c2;
}
.header .my-info .my-info-card .icon-weibo {
    color: #ff5b36;
}
.header .my-info .my-info-card .icon-bilibili {
    color: #f45a8d;
}
.header .my-info .my-info-card .my-info-pin {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
    margin: 0 auto;
    margin-top: -40px;
}